@font-face {
    font-family: 'Yekan';
    src: url(../assets/fonts/WEBYEKAN.WOFF) , url(../assets/fonts/WEBYEKAN.TTF);
}
*{
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body{
    font-family: 'Yekan' !important;
    background: #f9f9f9;
    color: #737476;
    direction: rtl;
    overflow-x: hidden;
}
h2{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
p{
    font-size: 18px;
    line-height: 1.8rem;
}
a{
    color: #dee1e5;
}
button{
    padding: 10px 14px;
    border-radius: 20px;
    outline: none;
    border: none;
    color: #fff;
    background: linear-gradient(to top, #bba365, #ece2ad);
}
.bg-white{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 2px 12px 5px rgba(222, 220, 220, 0.7294117647058823);
}

/* Header Section */
header{
    background-image: url(../assets/images/Path\ 10.png);
    background-position: bottom;
}
header::before{
    width: 617px;
    height: 848px;
    content: " ";
    position: absolute;
    top: -191px;
    left: -29px;
    background-image: url(../assets/images/Group\ 5.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.introForm{
    padding-top: 90px;
    color: #f6f6f6;
}
.introForm > div{
    padding-top: 10px;
}
.introSecMobile img{
    width: 626px;
}
.appLinks a{
    border: 1px solid;
    border-radius: 15px;
    padding: 3px 6px;
}
.appLinks a span{
    padding-right: 6px;
}
input{
    padding: 8px;
    width: 50%;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: #f5f5f5;
}
.emailInput{
    padding-right: 25px;
    width: 60%;
    box-shadow: -4px 4px 15px 5px #cecece;
}
.emailInput + button{
    box-shadow: -4px 4px 15px 5px #cecece;
}

/* AboutUs Section */
#aboutUs{
    padding: 80px 0;
}
#aboutUs .col-6 > img{
    transform: translate(45px, -59px);
}

/* QuestionFeature Section */
#questionFeature{
    padding: 86px 0;
} 
#quImage img{
    transform: translate(-144px, -71px);
    width: 100%;
}

/* TimeSetFeature Section */
#timeSetFeature{
    padding: 100px 0;
}
.single-feature {
    position: relative;
    margin-bottom: 330px;
}
.timeimg > img{
    position: absolute;
    top: -276px;
    right: -190px;
    z-index: -1;
    width: 65%;
}

/* Services Section */
#services{
    padding: 100px 0;
}

/* Footer Section */
footer{
    background-image: url(../assets/images/Path\ 15.png);
    background-position: top;
}
footer a{
    color: #737476;
}

